* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-top: 7.2rem;
}

/* É 62,5% dos 16px do navegador, isso é p transformar
em 10px e não precisar ficar fazendo conta depois para
cada tamanho*/
:root {
  font-size: 62.5%;
}

body {
  background: #ECE9FD;
  padding: 6.0rem 2.3rem 6.6rem;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.0rem;
  line-height: 4.8rem;
  font-weight: 800;
  color: #090039;
  margin-bottom: 1.5rem;
}

p:first-child {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 3.2rem;
  color: #7158EF;
  margin-bottom: 1.7rem;
  font-weight: 400;
}

p {
  font-weight: 400;
  line-height: 3.2rem;
  color: rgba(10, 0, 57, 0.64);
  margin-bottom: 3.2rem;
}

a {
  color: #090039;
  line-height: 3.2rem;
  text-decoration: none;
}

a:hover {
  color: #7158EF; 
  font-weight: bold;
}

ul li{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #090039;
  display: flex;
  gap: 3.8rem;
  max-width: 25.7rem;
}

ul li + li {
  margin-top: 3.2rem;
}

ul li:first-child {
  gap: 6.8rem;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;
  color: #090039;
}

/*media queries- é o que faz o ajuste do tamanhho da tela
e permite que apliquemos ajustes para quando as telas
forem maiores. O min-width de 40em significa a mesma coisa
que erm, ou seja 640px*/
/*@media (min-width: 40em)*/
@media(min-width: 700px) {
  body {
    padding: 8.0rem;
  }

  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > div {
    max-width: 484px;
  }

  ul li {
    max-width: 450px;
    gap: 5.3rem;
    align-items: center;
  }
}
